<div style="height: 100%; display: none" id="myplanner-survey-dialog">
    <h1 id="myplanner-survey-dialog-title"> Survey </h1>
    <div id="myplanner-survey-dialog-body">
        <!-- default to loader -->
         <h3>Loading...</h3>
    </div>
    <div id="myplanner-survey-dialog-footer">
        <button id="myplanner-survey-dialog-close" class="btn btn-default" onclick="hideSurveyForm()">Cancel</button>
        <button id="myplanner-survey-dialog-next" class="btn btn-primary">Next ></button>
        <button id="myplanner-survey-dialog-save" class="btn btn-primary" style="display: none;">Save</button>
    </div>
</div>