<div style="height: 100%; display: none" id="myplanner-survey-dialog">
    <div id="myplanner-survey-dialog-body">
        <!-- default to loader -->
         <h3>Loading...</h3>
    </div>
    <div id="myplanner-survey-dialog-footer">
        <button id="myplanner-survey-dialog-close" class="btn btn-default" onclick="hideSurveyForm()">Cancel</button>
        <button id="myplanner-survey-dialog-next" class="btn btn-primary">Next ></button>
        <button id="myplanner-survey-dialog-save" class="btn btn-primary" style="display: none;">Save</button>
    </div>
    <div id="myplanner-survey-layers-container" class="my-planner-slide-up" >
        <div id="myplanner-survey-layers-slideup-button" onclick="toggleLayersPanel()">
            <span id="myplanner-survey-layer-button-before">
                <i class="fa fa-chevron-up"></i>
            </span>Layers</div>
        <div id="myplanner-survey-layers-list">
            <!-- layers will be populated here -->
        </div>
    </div>
</div>