#survey-planner-content {
  display: none;
}

#myplanner-survey-dialog-footer {
  height: 8rem;
  width: 100%;
  bottom: 0;
  border: 1ps solid black;
}

#myplanner-survey-dialog-footer button {
  margin: 10px;
}

#myplanner-survey-dialog-close {
  float: left;
}

#myplanner-survey-dialog-next, #myplanner-survey-dialog-save {
  float: right;
}

#myplanner-survey-dialog-body {
  margin: 2rem;
  margin-top: 0.5rem;
}

small.form-text.text-muted {
  color: #6c757d;
}

.btn-open-survey {
  margin-left: 10px;
}

#myplanner-survey-layers-container {
  height:0; 
  bottom:0; 
  position:absolute;
  z-index: 2;
  width:100%; 
  background-color:#f5f5f5; 
  width: 96%;
  margin-left: 2%;
}

#myplanner-survey-layers-slideup-button {
  top:-3rem; 
  position:absolute; 
  height:3rem; 
  color: white;
  background-color:green;
  z-index:2;
  text-align: center;
  width:40%;
  margin-left: 30%;
  border-radius:0.5rem 0.5rem 0 0;
  cursor: pointer;
  align-items:center;
  display: grid;
}

#myplanner-survey-layers-list {
  height: 100%;
  overflow-y: auto;
  border: 1px solid #ddd;
  border-radius: 0.5rem 0.5rem 0 0;
  border-bottom: none;
  padding-left: 3rem;
}